/* 基本的なテーブル */
table.basic_table{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #b7b7b7;
    text-align: left;
}
table.basic_table th {
    border: 1px solid #b7b7b7;
    background-color: DarkTurquoise;
    text-align: left;
    padding: 3px 8px;
    margin: 3px 8px;
    font-weight: bold;
  }
table.basic_table td {
  border: 1px solid #b7b7b7;
  text-align: left;
  padding: 3px 8px;
  margin: 3px 8px;
}

table.basic_table caption{
    padding: 3px 8px;
    margin: 3px 8px;
}


/** 罫線なし・list用 table */
table.list {
  table-layout: auto;
  width: 100%;
  border: none;
}
table.list th {
  border:none;
  text-align: left;
  padding: 3px 8px;
  margin: 3px 8px;
  font-weight: bold;
}
table.list td {
  border:none;
  text-align: left;
  padding: 3px 8px;
  margin: 3px 8px;
}

